.innovation-section {
  background: #0f0f0f;
  border-radius: 36px;
  padding: 49px 100px 127px 90px;
  margin-top: 280px !important;
  /* max-width: 1200px; */
}
.homeimagediv {
  display: flex;
  justify-content: center;
}
.homeimage {
  max-width: 553px;
  height: 479px;
  margin-top: -318px !important;
}
.innovation-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
  /* margin-bottom: 48px; */
}

.innovation-header-left {
  /* flex: 1; */
}

.innovation-section-number {
  font-family: WorkSans-Medium;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  leading-trim: CAP_HEIGHT;
  line-height: 100%;
  letter-spacing: -3%;
  text-align: right;
  text-transform: uppercase;
  color: #fff;
}

.innovation-section-title {
  font-family: WorkSans-Medium;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  leading-trim: CAP_HEIGHT;
  line-height: 100%;
  letter-spacing: -0.78px;
  text-align: right;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 12px !important;
}

.innovation-main-title {
  font-family: NunitoSans-Bold;
  font-weight: 700;
  font-style: Bold;
  font-size: 56px;
  leading-trim: CAP_HEIGHT;
  line-height: 120%;
  letter-spacing: -1.68px;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 620px;
  margin: 40px 0px 87px 0px !important;
  /* margin: 0 0 0.5em 0; */
}

.innovation-header-right {
  /* flex: 1.2; */
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.innovation-header-description {
  font-family: WorkSans;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  leading-trim: CAP_HEIGHT;
  line-height: 150%;
  letter-spacing: 1px;
  color: #ffffff;
  max-width: 489px;
  margin: 0px !important;
}

.innovation-content {
  display: flex;
  gap: 48px;
  justify-content: space-between;
  margin-top: -101px !important;
}

.innovation-left-column {
  display: flex;
  flex-direction: column;
  gap: 44px;
}
.innovation-right-column {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 100px;
}
.gshgdsghadks {
  display: flex;
  flex-direction: column;
  gap: 132px;
}
.venture-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  max-width: 416px;
  /* box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08); */
}

.venture-logo {
  width: 48px;
  height: 48px;
  object-fit: contain;
  margin-right: 8px !important;
}
.capstone-block {
  flex-direction: column;
}
.capstone-block .venture-logo {
  background: none;
}

.gaya-wallet-logo {
  background: url('/Images/midsection/wallet.svg') no-repeat center/contain;
  width: 48px;
  height: 48px;
}

.dr3-logo {
  background: url('/Images/midsection/block.svg') no-repeat center/contain;
  width: 48px;
  height: 48px;
}

.gaya-blockchain-logo {
  background: url('/Images/midsection/world.svg') no-repeat center/contain;
  width: 48px;
  height: 48px;
}

.city-crafters-logo {
  background: url('/Images/midsection/setting.svg') no-repeat center/contain;
  width: 48px;
  height: 48px;
}

.venture-block h2 {
  font-family: WorkSans-Medium;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0.4px;
  color: #ffffff;
  margin: 0px !important;
  margin-bottom: 12px !important;
}

.venture-description {
  font-family: WorkSans;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: -0.32px;
  color: #ffffff;
  margin: 0px !important;
  margin-bottom: 12px !important;
}

.venture-quote {
  font-family: WorkSans;
  font-weight: 400;
  font-style: Italic;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: -0.3px;
  color: #ffffff;
  margin: 0px !important;
  margin-top: 0.5em !important;
}

.venture-features {
  margin: 0px 0px 0px 10px !important;
  padding: 0;
  font-family: WorkSans;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: -2%;
  color: #ffffff;
  list-style: disc inside;
}

.city-crafters-title {
  color: #b3baff;
  font-family: 'Geist-Bold', 'Work Sans', Arial, sans-serif;
  letter-spacing: 0.05em;
  font-size: 1.1em;
}
.beforeleft{
  display: none;
}

@media (min-width: 1600px) {
  .venture-block {
    max-width: 468px;
}
  .venture-quote {
    font-size: 16px;
  }
  .innovation-section-number,
  .innovation-section-title {
    font-size: 22.2px;
  }
  .innovation-main-title {
    font-size: 63px;
    max-width: 700px;
  }
  .innovation-header-description {
    font-size: 20.25px;
  }
  .venture-block h2 {
    font-size: 22.5px;
  }
  .venture-description {
    font-size: 18px;
  }
  .homeimage {
    width: 622.125px;
    height: 538.875px;
    margin-top: -350px !important;
  }
}
@media (max-width: 1340px) {
  .innovation-section-number,
  .innovation-section-title {
    font-size: 18.2px;
  }
  .innovation-main-title {
    font-size: 45px;
    max-width: 620px;
  }
  .innovation-header-description {
    font-size: 16.25px;
    max-width: 404px;
  }
  .venture-block h2 {
    font-size: 18.5px;
  }
  .venture-description {
    font-size: 14px;
  }
  .homeimage {
    max-width: 457px;
    height: 424px;
    margin-top: -289px !important;
  }
  .innovation-section {
    background: #0f0f0f;
    border-radius: 36px;
    padding: 49px 70px 110px 70px;
    margin-top: 280px !important;
  }
}
@media (max-width: 1110px) {
  .innovation-left-column {
    gap: 36px;
  }
  .gshgdsghadks {
    gap: 90px;
  }
  .innovation-section-number,
  .innovation-section-title {
    font-size: 16.2px;
  }
  .innovation-main-title {
    font-size: 38px;
    max-width: 620px;
  }
  .innovation-header-description {
    font-size: 14.25px;
    max-width: 390px;
  }
  .venture-block h2 {
    font-size: 16.5px;
  }
  .venture-description {
    font-size: 12px;
  }
  .homeimage {
    max-width: 380px;
    height: 369px;
    margin-top: -251px !important;
    margin-bottom: 15px !important;
  }
  .innovation-section {
    background: #0f0f0f;
    border-radius: 36px;
    padding: 49px 50px 90px 50px;
    margin-top: 200px !important;
  }
}
@media (max-width: 768px) {
  .venture-description {
    text-align: center;
  }
  .venture-block {
    max-width: unset;
    gap: 14px;
    align-items: center;
  }
  .venture-block h2 {
    text-align: center;
  }
  .logoosss1{
    width: 120px;
  }
  .logoosss{
    width: 150px;
  }
  .venture-quote {
    text-align: center;
    font-size: 12px;
  }
  .innovation-header-right {
    display: none;
  }
  .beforeleft{
    margin-bottom: 40px !important;
    display: unset;
  }
  .innovation-content {
    flex-direction: column;
    gap: 36px;
  }
  .gshgdsghadks {
    gap: 36px;
}
  .innovation-main-title {
    margin: 25px 0px 0px 0px !important;
    text-align: center;
  }
  .innovation-header-description {
    text-align: center;
    max-width: unset;
  }
  .innovation-header-left {
    margin-top: 30px !important;
  }
  .homeimage {
    max-width: 320px;
    height: 289px;
    margin-top: -210px !important;
    margin-bottom: 15px !important;
  }
  .innovation-right-column {
    justify-content: flex-start;
  }
}
@media (max-width: 525px) {
  .innovation-content {
    gap: 30px;
}
  .venture-quote {
    font-size: 11px;
  }
  .innovation-left-column {
    gap: 30px;
  }
  .gshgdsghadks {
    gap: 30px;
  }
  .innovation-section-number,
  .innovation-section-title {
    font-size: 12.2px;
  }
  .innovation-main-title {
    font-size: 30px;
    max-width: 620px;
    margin: 25px 0px 0px 0px !important;
  }
  .innovation-header-description {
    font-size: 12.25px;
    line-height: 19px;
  }
  .venture-block h2 {
    font-size: 14.5px;
  }
  .venture-description {
    font-size: 11px;
  }
  .homeimage {
    max-width: 277px;
    height: 257px;
    margin-top: -192px !important;
    margin-bottom: 15px !important;
}
  .innovation-section {
    background: #0f0f0f;
    border-radius: 20px;
    padding: 49px 35px 40px 35px;
    margin-top: 150px !important;
  }
}
@media (max-width: 399px) {
  .venture-quote {
    font-size: 10px;
  }
  .innovation-content,
  .innovation-left-column {
    gap: 30px;
  }
  .gshgdsghadks {
    gap: 30px;
  }

  .innovation-section-number,
  .innovation-section-title {
    font-size: 11.2px;
  }
  .innovation-main-title {
    font-size: 23px;
    max-width: 620px;
    line-height: 23px;
    letter-spacing: -0.1px;
    margin: 25px 0px 0px 0px !important;
  }
 
  .homeimage {
    max-width: 180px;
    height: 160px;
    margin-top: -139px !important;
    margin-bottom: 15px !important;
}
  .innovation-section {
    background: #0f0f0f;
    border-radius: 20px;
    padding: 49px 30px 35px 30px;
    margin-top: 100px !important;
  }
}
